body>div.container {
	text-align: center;
	margin-top: 32px;
}

p>i.fa-circle {
	font-size: 0.25em;
	vertical-align: 50%;
	margin-left: 5px;
	margin-right: 5px;
}

div.col-sm {
	padding-left: 4px;
	padding-right: 4px;
}